.trash/
.DS_Store
*.tmp
.obsidian/
Resumen BigER Original.md
presentacion_er.qmd
presentacion_er_borrador.qmd
presentacion_er.html
presentacion_er_simplificada_teoria.html
presentacion_er_simplificada_teoria.qmd
/presentacion_er_files/
/presentacion_er_simplificada_teoria_files/
/labs/LAB09 - BigER Completo.md